$bluecolor: #0f41af;
$graycolor : #666666;
$boxshadow : 0px 0px 2px 0.01px #ccc;

html {
  font-family: "Noto Sans JP";
}

main {
  margin: 0 15%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 1000px;
}


// メニュー（画面左側）
.menu {
  width: 25%;
  position: relative;
  z-index: 10;

  .logo {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
  }

  nav {
    ul {
      list-style: none;
      padding-left: 0;

      .spa {
        text-decoration: none;
        font-size: 16px;
        line-height: 3;
        font-weight: 500;

        &.router-link-exact-active {
          color: $bluecolor;

          span {
            &:hover {
              color: #000;
            }
          }

        }

        span {
          &:hover {
            text-decoration: underline;
          }

        }
      }
    }
  }
}

// コンテンツ（画面中央）
.contents {
  width: 50%;
  position: relative;
  z-index: 10;

  .banner {
    border-radius: 10px;
    box-shadow: $boxshadow;
    padding: 10px;

    p {
      padding: 10px 25px;
      font-weight: 700;
      line-height: 1.5;
      text-decoration: none;
      font-size: 25px;
    }

    .linkbox {
      width: 94%;
      margin: 10px 3%;

      a {
        padding: 10px 25px;
        color: #fff;
        background-color: $bluecolor;
        border-radius: 10px;
        display: block;
        font-weight: 700;
        line-height: 1.5;
        text-decoration: none;
        font-size: 20px;
        position: relative;
        z-index: 10;

        &::after {
          content: "\e5e1";
          font-family: "Material Icons";
          position: absolute;
          right: 20px;
        }
      }
    }
  }

  .information {
    margin: 20px auto;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: $boxshadow;
    background-color: #fcfcfc;

    h3 {
      font-size: 15px;
      font-weight: 300;
      color: $graycolor;
    }

    h2 {
      font-size: 23px;
      line-height: 1.5;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 2;
      color: #222222;
    }
  }
}

// サブメニュー（画面右側）
.submenu {
  width: 25%;
  position: relative;
  z-index: 10;

  nav {

    ul {
      list-style: none;
      padding-left: 30px;
      margin-top: 80px;

      li {
        list-style: none;
        padding-left: 20px;
        font-size: 14px;
        line-height: 2;
        font-weight: 700;

        a {
          text-decoration: none;
          color: black;

          &:visited {
            color: inherit;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media(max-width:1000px) {
  main {
    flex-direction: column;
    margin: 5%;
    min-width: 0;
  }


  .menu {
    display: none;
  }

  .contents {
    width: 100%;
    margin-top: 30%;

    h2 {
      font-size: 32px;
    }
  }

  .submenu {
    display: none;
  }
}