body{
    margin: 0;
}
:root{
    -swiper-theme-color: #00213B;
}

.swiper-pagination-bullet{
    background-color: white !important;
    border-color: #00213B !important;
    border-width: 2px;
    border-style: solid;
}
.swiper-pagination-bullet-active{
    background-color: #00213B !important;
}